
.services {
    padding-top: 2rem;
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    background-size: cover;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 2rem;
}
h4{
    padding-top: 3rem;
    max-width: 80%;
    margin: auto;
    padding-bottom: 0;
}
.center {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
  }
.note{
    width: 80%;
    max-width: 800px;
    margin: auto;
}
.section__title--services::after {
    content: '';
    
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    
    opacity: 0.25;
}

.descripcion{
    margin-top: 20px;
}
.service {
    padding-top: 2rem;
    max-width: 500px;
    margin: 0 auto;
}

ol, li {
    list-style-type: none;
}

@media (min-width: 800px) {
    .services {
        flex-direction: row;
        
        margin-left: auto;
        margin-right: auto;
    }
    .service{
        padding: 2rem;
    }
}